science.kennesaw.edu
.metadata
/project/nbproject/private/
/project/build/
/sampleProject/nbproject/private/
/sampleproject/parsing/nbproject/private/
/sampleproject/parsing/build/
/projectTry2/nbproject/private/
/projectTry2/build/
/DELETEME/nbproject/private/
/DELETEME/build/