science.kennesaw.edu
.metadata
/project/nbproject/private/
/project/build/
/sampleProject/nbproject/private/
/sampleproject/parsing/nbproject/private/
/sampleproject/parsing/build/
/projectTry2/nbproject/private/
/projectTry2/build/
/DELETEME/nbproject/private/
/DELETEME/build/
/DataStructure/nbproject/private/
/DataStructure/build/
/oldstuff/nbproject/private/
/oldstuff/build/
/Michael_Hug_CS4150_Project_spr2014/nbproject/private/
/Michael_Hug_CS4150_Project_spr2014/build/
/Michael_Hug_CS4150_Project_spr2014_java/nbproject/private/
/Michael_Hug_CS4150_Project_spr2014_java/build/